<body>
    <div class="cus-container">
        <div class="div1">
            <div class="left-head">
                <div class="logo">
                    <img src="{{imagePaths}}" class="img-responsive">
                </div>
                <div class="signup-btn">
                    <button class="reg-btn">Sign Up</button>
                </div>
            </div>
            <div class="sec2">
                <h2 class="left-content">Sign in with your Account</h2>
            </div>
            <div class="footer">
                <div class="footer-sec1">
                    <p> FOLLOW US ON</p>
                    <ul class="social">
                        <li class="social-item">
                            <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li class="social-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="social-item">
                            <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="footer-sec2">
                    <ul class="footer-link">
                        <li>
                            <a href="#">Contact Us</a> | 
                        </li>
                        <li>
                            <a href="#">About Us</a> | 
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a> | 
                        </li>

                        <li>
                            <a href="#">Blog</a> | 
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="div2">
            <router-outlet></router-outlet>
        </div>
    </div>